/**
 * Elements
 */

/* Add a default margin to headings and paragraphs */

:where(h1, h2, h3, h4, h5, h6, p) {
	margin-block: 0 var(--wp--preset--spacing--20);
}

/* Add a default transition */

:where(a, button, input, textarea, select) {
	transition: all 0.15s ease-in-out;
}

/**
 * WP Classes
 */

@media (min-width: 768px) {

	:where(.alignleft) {
		float: left;
		margin-right: var(--wp--preset--spacing--30);
		margin-bottom: var(--wp--preset--spacing--30);
	}

	:where(.alignright) {
		float: right;
		margin-left: var(--wp--preset--spacing--30);
		margin-bottom: var(--wp--preset--spacing--30);
	}
}

/**
 * WP Blocks
 */

/* Allow main content to grow, which forces footer to the bottom of the page */

.wp-site-blocks,
.is-root-container.wp-site-blocks {
	display: flex;
	flex-direction: column;
	min-height: var(--wp-site-blocks-min-height, 100svh);

	main {
		flex-grow: 1;
	}
}

/* Adjust the site blocks min height for the admin bar */

.admin-bar  {
	--wp-site-blocks-min-height: calc(100svh - var(--wp-admin--admin-bar--height, 0));
}

/* Remove default margin from template parts. Similar more specific version in editor.css. */

:root :where(.wp-site-blocks) > :where(.wp-block-template-part, .wp-block-post-content) {
	margin-block: 0;
}
