/**
 * CSS Reset
 * @link https://www.joshwcomeau.com/css/custom-css-reset/
 */

/* Use a more-intuitive box-sizing model */
/* *, *::before, *::after {
	box-sizing: border-box;
} */

/* Remove default margin */
:where(*) {
	margin: 0;
}

/* Improve text rendering */
:where(body) {
	-webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
:where(img, picture, video, canvas, svg) {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for form controls */
:where(input, button, textarea, select) {
	font: inherit;
}

/* Avoid text overflows */
:where(p, h1, h2, h3, h4, h5, h6) {
	overflow-wrap: break-word;
}

/* Improve line wrapping */
:where(p) {
	text-wrap: pretty;
}

:where(.is-style-heading, .is-style-subheading, h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
}

/* Create a root stacking context */
:where(#root, #__next) {
	isolation: isolate;
}
